:root
{
    --secondary-color:#E2BD87;
    --primary-color:skyblue;
    --text-color: #373737;
}
@font-face
{
    font-family: 'Futura';
    src: local('Futura'),
        url(../assets/futura-font/futura-md.ttf) format('ttf');
}

.social 
{
    width: 80%;
}

.social ul
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.social ul li
{
    padding-right: 10px;
}
.social ul li a
{
    color: var(--secondary-color) ;
    font-size: 20px;
}
#header-line
{
    border-bottom: 1px solid #979797;;
}
header h1
{
    color: var(--secondary-color);
}
.navigation
{
   display: flex;  
   flex-direction: row;
   justify-content: space-between;  
   max-width: 80%;
   flex-wrap: wrap;

}
.main-nav
{
    flex-grow: 3;
}
.main-nav ul
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.main-nav ul li
{
    padding: 3%;
}
.main-nav ul li a
{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Futura';
}

.logo{
    flex-grow: 1;
    padding-left: 20%;
}
.main-content .description
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-content article img
{
    width: 100%;
}
.main-content .description img
{
    max-width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.main-content .description h2
{
    font-family: 'Futura';
    text-align: center;
    color: var(--text-color);
}
#call-action
{
    width: 100px;
    height: 40px;
}
#call-action i
{
   color: var(--text-color);
}
#find-us
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
#find-us iframe
{
    width: 450px ;
    height: 450px;
}

